* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  min-height: 100%;
  background-color: #eee;
}
body {
  min-height: 100vh;
  margin: 0 2%;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  text-align: left;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
}
a {
  color: blue;
  text-decoration: none;
  animation: animateColor 60s infinite;
}
a:hover, a:visited {
  color: blue;
  text-decoration: underline;
}
@keyframes animateColor {
  0% {
    color: blue;
  }
  20% {
    color: #ff00e6;
  }
  40% {
    color: #ffa200;
  }
  60% {
    color: #66ff00;
  }
  80% {
    color: #00ffff;
  }
  100% {
    color: blue;
  }
}
ul {
  padding: 0;
  list-style-type: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}
.container:after, .container:before {
  content: " ";
  display: table;
}
.main{
  margin-top: 4rem;
  margin-bottom: 2em;
}



/* HEADER */

.title,
.subtitle {
  font-size: 1rem;
}


/* CONTENT */

.social{
  font-size: 0.9em;
}

/* MEDIA QUERIES */

@media (min-width: 480px) {
  .container {
    width: 460px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .main{
    margin-left: 16.66666667%;
    float: left;
    width: 66.66666667%;
    margin-top: 20vh;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}