* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  min-height: 100%;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: clamp(2.5rem, 5vw, 6rem);
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  color: #FAFAA2;
  background-color: #b6d4a7;
}
a {
  color: #570bd6;
  text-decoration: none;
}
a:hover, a:visited {
  color: #570bd6;
  text-decoration: underline;
}
ul {
  padding: 0;
  list-style-type: none;
}
.container {
  padding-left: 2rem;
  padding-right: 2rem;
}
.main{
  margin-top: 20vh;
  margin-bottom: 20vh;
}
.title,
.subtitle {
  font-size: clamp(2.5rem, 10vw, 10rem);
  line-height: 1;
}
