* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  min-height: 100%;
  background-color: #eee;
}
body {
  min-height: 100vh;
  margin: 0 2%;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1pc;
  text-align: center;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik Mono One", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
h1, h2, h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
h1 {
  font-size: 41px;
}
p {
  margin: 0 0 30px;
}
a, a:hover, a:visited{
  color: #222;
}
ul {
  padding: 0;
  list-style-type: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}
.container:after, .container:before {
  content: " ";
  display: table;
}
.visible-xs {
  display: block;
}
.main{
  margin-bottom: 2em;
}



/* HEADER */

.title {
  line-height: 1.5em;
  letter-spacing: 0.2em;
  word-wrap: break-word;
}
.subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 1.6;
}


/* CONTENT */

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 0.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  color: #fff;
  border: 0px;
  letter-spacing: 2px;
  font-family: "Rubik Mono One", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-text {
  background-color: transparent;
  color: #000;
  letter-spacing: 0px;
}
.btn:active {
  outline: 0;
  background-image: none;
}
.btn:focus, .btn:hover {
  color: #fff;
  text-decoration: none;
  opacity: .8;
}
.btn-text:focus, .btn-text:hover {
  color: #000;
  text-decoration: underline;
}
.btn.experiments {
  background: #000 url('../images/btn.gif') -9999px center no-repeat;
  background-size: cover;
}
.btn.experiments:hover, .btn.experiments:focus {
  background-position: center center;
  opacity: 1;
}

.social{
  font-size: 0.9em;
}


/* FOOTER */

.copytext {
  opacity: .2;
}


/* ANIMATIONS */



/* MEDIA QUERIES */

@media (min-width: 480px) {
  .container {
    width: 460px;
  }
  .title {
    margin: 1.5em auto 1em;
    line-height: 2em;
    letter-spacing: 0.8em;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 1.1rem;
  }
  .btn {
    font-size: 1pc;
  }
  .container {
    width: 750px;
  }
  .btn {
    padding: 20px 40px;
    margin: 40px auto;
  }
  .title {
    margin: 1em auto;
    line-height: 3em;
    letter-spacing: 1em;
  }
  .visible-xs {
    display: none;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 1.2rem;
  }
  .container {
    width: 970px;
  }
  .main{
    margin-left: 16.66666667%;
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 1.3rem;
  }
  .container {
    width: 1170px;
  }
}